html, 
body,
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --color-primary: #d8a66d;
    --color-secondary: #31436e;
    --color-accent: #fff;
    --padding-header: 0 0 0 140px;
    --header-title-font-size: 64px;
    --header--title-margin-bottom: 60px;
    --header-logo-margin: 40px;
    --header-nav-padding: 40px 40px;
    --nav-gap: 54px;
    --nav-list-gap: 35px;
    --nav-list-margin-top: 20vh;
    --section-margin: 120px;
    --main-title-size: 24px;
    --main-subtitle-size: 32px;
    --coffee-base-gap: 70px;
    --coffee-collection-gap: 60px;
    --collection-item-gap: 20px;
}

.header {
    position: relative;
    display: grid;
    padding: var(--padding-header);
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto;
    justify-content: space-between;
    max-width: 100vw;
    height: 100vh;
    background-image: url(./assets/img/banner.png);
    background-size: 66.67%;
    background-repeat: no-repeat;
    background-position: top right;
}

.header__logo {
    margin-top: var(--header-logo-margin);
}


.header__title {
    text-transform: uppercase;
    font-size: var(--header-title-font-size);
    grid-area: 2 / 1 / 3 / 2; 
    align-self: end;
    margin-bottom: var(--header--title-margin-bottom);
    font-weight: 900;
    color: var(--color-secondary);
}

.header__title-highlight {
    padding: 0 6px;
    background-color: var(--color-primary);
    color: var(--color-accent);
}

.header__nav {
    justify-self: end;
    max-width: 350px;
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    gap: var(--nav-gap);
    padding: var(--header-nav-padding);
    background-color: var(--color-secondary);
}

.nav__list {
    display: flex;
    justify-self: center;
    flex-direction: column;
    gap: var(--nav-list-gap);
    margin-top: var(--nav-list-margin-top);
}

.nav__list-item {
    color: var(--color-accent);
    transition: 0.3s all ease-in-out;
}

.nav__link {
    position: relative;
    display: inline-block;
    color: var(--color-accent);
    transition: color 0.3s ease-in-out;
}

.nav__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--color-accent);
    transition: width 0.3s ease-in-out;
}

.nav__link:hover::after {
    width: 100%;
}

.nav__link:hover {
    color: var(--color-accent);
}

.nav__link:active {
    color: var(--color-primary);
}


.nav__link:focus {
    outline: none;
    color: var(--color-primary);
}

.nav__link:focus::after {
    width: 100%;
    background-color: var(--color-primary);
}


.nav__link:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 4px;
    border-radius: 2px;
}

.title_main {
    color: var(--color-secondary);
    font-size: var(--main-title-size);
    margin-bottom: 3px;
}

.subtitle_main {
    color: var(--color-secondary);
    font-size: var(--main-subtitle-size);
    font-weight: 900;
}

.coffee-base {
    margin: var(--section-margin) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--coffee-base-gap);
}

.coffee-base__features {
    display: flex;
    justify-content: space-around;
    width: 100%; 
    flex-wrap: wrap;
    gap: var(--collection-item-gap);
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 250px;
}

.coffee-base__title-container{
    text-align: center;
}

.coffee-collection__title-container{
    text-align: center;
}

.coffee-collection {
    background: linear-gradient(to right, 
        var(--color-secondary) 0%, 
        var(--color-secondary) 22.22%, 
        transparent 22.22%
    );
}

.coffee-collection__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--coffee-collection-gap);
    position: relative;
    z-index: 1;
}

.coffee-collection__list {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 40px;
    width: 100%;
    padding: 60px 40px;
    justify-content: center;
    
}

.product-card {
    display: grid;
    gap: 20px;
    grid-template-columns: 228px 1fr;
    padding-right: 10px;
    max-width: 510px;
    align-items: center;
    box-shadow: 0px 3px 8px 0px rgba(0, 17, 51, 0.08),0px 18px 28px 0px rgba(0, 17, 51, 0.16);
    background-color: #ffffff;
}

.product-card__image {
    grid-column: 1 / 2;
    object-fit: cover;
    width: 100%;
    max-width: 210px;
    height: 100%;
    background-color: #edf0f5;
}

.product-card__content {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}

.product-card__buttons {
    display: flex;
    gap: 10px;
    margin-top: auto;
    padding-bottom: 8px;
}

.product-card__price {
    color: var(--color-primary);
}

.button {
    background-color: var(--color-primary);
    color: var(--color-accent);
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 15px;
    padding: 5px 15px;
    cursor: pointer;
}

.button_secondary {
    background-color: transparent;
    color: var(--color-secondary);
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 15px;
    cursor: pointer;
}

.gift-set {
    padding: 80px 120px;
}
.gift-set {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-set__title-content {
    text-align: center;
    margin-bottom: 60px;
}

.gift-set__info {
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    align-items: center;
}

.gift-set__image {
    grid-column: 1 / 2;
    max-width: 450px;
    width: 100%;
}

.gift-set__content {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.gift-set__detail {
    display: flex;
    gap: 15px;
}

.gift-set__detail-content {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.gift-set__buttons {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.gift-set__buttons .button {
    padding: 10px 50px ;
    border-radius: 40px;
}

.personal-coffee {
    background: linear-gradient(to right,
        transparent 0%,
        transparent 88%,
        var(--color-secondary) 88%
    );
    padding-bottom: 60px;
}

.personal-coffee__title-content {
    text-align: center;
    margin-bottom: 60px;
}

.personal-coffee__list {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.personal-coffee__card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 3px 8px 0px rgba(0, 17, 51, 0.08),0px 18px 28px 0px rgba(0, 17, 51, 0.16);
}

.personal-coffee__card-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 25px;
}

.personal-coffee__card-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: #edf0f5;
}

.footer {
    padding: 20px 0;
    background-color: #edf0f5;
}

.footer__copyright {
    text-align: center;
    color: var(--color-secondary);
}