html, 
body,
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --color-primary: #d8a66d;
    --color-secondary: #31436e;
    --color-accent: #fff;
    --padding-header: 0 0 0 140px;
    --header-title-font-size: 64px;
    --header--title-margin-bottom: 60px;
    --header-logo-margin: 40px;
    --header-nav-padding: 40px 40px;
    --nav-gap: 54px;
    --nav-list-gap: 24px;
    --nav-list-margin-top: 80px;
}

.header {
    position: relative;
    display: grid;
    padding: var(--padding-header);
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto;
    justify-content: space-between;
    max-width: 100vw;
    height: 100vh;
    background-image: url(./assets/img/banner.png);
    background-size: 66.67%;
    background-repeat: no-repeat;
    background-position: top right;
}

.header__logo {
    margin-top: var(--header-logo-margin);
}


.header__title {
    text-transform: uppercase;
    font-size: var(--header-title-font-size);
    grid-area: 2 / 1 / 3 / 2; 
    align-self: end;
    margin-bottom: var(--header--title-margin-bottom);
    font-weight: bold;
    color: var(--color-secondary);
}

.header__title-highlight {
    padding: 0 6px;
    background-color: var(--color-primary);
    color: var(--color-accent);
}

.header__nav {
    justify-self: end;
    max-width: 350px;
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    gap: var(--nav-gap);
    padding: var(--header-nav-padding);
    background-color: var(--color-secondary);
}

.nav__list {
    display: flex;
    justify-self: center;
    flex-direction: column;
    gap: var(--nav-list-gap);
    margin-top: var(--nav-list-margin-top);
}

.nav__list-item {
    color: var(--color-accent);
    transition: 0.3s all ease-in-out;
}

.nav__link {
    position: relative;
    display: inline-block;
    color: var(--color-accent);
    transition: color 0.3s ease-in-out;
}

.nav__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--color-accent);
    transition: width 0.3s ease-in-out;
}

.nav__link:hover::after {
    width: 100%;
}

.nav__link:hover {
    color: var(--color-accent);
}

.nav__link:active {
    color: var(--color-primary);
}


.nav__link:focus {
    outline: none;
    color: var(--color-primary);
}

.nav__link:focus::after {
    width: 100%;
    background-color: var(--color-primary);
}


.nav__link:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 4px;
    border-radius: 2px;
}